@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");



.loading {
  border: 8px solid rgb(16 17 18 / var(--tw-bg-opacity));
  border-top: 8px solid rgb(255 0 245 / var(--tw-bg-opacity));
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  justify-content: center;
  align-items:center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
